$point-color: #a7aa66;

// 글 내용부분
textarea {
  font-family: 'Pretendard_Regular';
  padding: 10px;
  resize: none;  // 모서리 크기조정 없애기
}

#content {
  position: relative;
  top: 100px;
  left: 0;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  max-width: 593px;

  div {
    text-align: center;

    #write {
      font-size: 20px;
      margin-bottom: 15px;
      border-bottom: 1px solid #111;
      padding-bottom: 15px;
    }
    form {
      width: 97%;
      margin: 0 auto;

      .write_form {
        .write_row1 {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          .ww_name {
            padding: 0 15px;
            font-size: 16px;
          }
          .ww_check {
            font-size: 14px;
          }
        }
        .write_row2 {
          display: flex;
          align-items: center;
          margin: 20px 0;

          input {
            padding: 0 5px;
            height: 25px;
          }
          .ww_title {
            margin-right: 15px;
          }
        }
        .write_row3 {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          .ww_content {
            margin-right: 15px;
            padding-bottom: 15px;
          }
          textarea {
            width: 100%;
          }
        }
      }
      .write_btn {
        font-size: 14px;
        padding-top: 10px;
        // width: 90%;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        [type="submit"] {
          border: none;
          cursor: pointer;
          padding: 10px 20px;
          font-size: 14px;

          background-color: #111;
          color: #fff;
          border-radius: 3px;

          &:hover {
            background-color: $point-color;
          }
        }
        a {
          padding: 10px 19px;
          margin-left: 10px;
          border: 1px solid #111;
          border-radius: 3px;

          &:hover {
            color: $point-color;
            border-color: $point-color;
          }
        }
      }
    }
  }
}