@charset "UTF-8";
@media screen and (min-width: 700px) {
  #login, #join, #find {
    width: 500px !important;
    position: relative !important;
    top: 70px;
    left: 0 !important;
    margin: 0 auto;
  }
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(68, 68, 68, 0.5);
}
input:focus {
  outline: none;
  border-color: #222;
}

[type=text], [type=password], [type=tel], [type=email] {
  font-size: 12px;
  padding: 10px;
}
[type=text]:hover, [type=password]:hover, [type=tel]:hover, [type=email]:hover {
  border: 1px solid #222;
}

[type=submit] {
  cursor: pointer;
  border: none;
  font-family: "Pretendard_Medium";
  font-size: 14px;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-color: #A7AA66;
  color: #fff;
}
[type=submit]:hover {
  font-size: 16px;
}

.line {
  border: 1px solid #111;
  margin-top: 10px;
}

/* _____로그인Login_____ */
#login-wrap {
  width: 100%;
}

#login {
  width: 90%;
  height: 500px;
  position: relative;
  top: 70px;
  left: 5%;
  /* 아이디찾기 & 비밀번호찾기 */
}
#login #login-header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
#login #login-header h2 {
  font-size: 20px;
  display: inline-block;
}
#login form {
  width: 95%;
  margin: 0 auto;
}
#login #login-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 14px;
}
#login #login-form .j_item {
  margin: 10px 0;
}
#login #login-form .j_item label {
  padding-left: 2px;
}
#login #find-go {
  width: 98%;
  margin: 0 auto;
  padding: 10px 0;
  /* 회원가입 */
}
#login #find-go .find_login {
  float: left;
  font-size: 14px;
}
#login #find-go .find_login span {
  padding: 0 5px;
}
#login #find-go .go_join {
  float: right;
  font-size: 14px;
}
#login #find-go a:hover {
  -webkit-text-decoration: 1px solid underline;
          text-decoration: 1px solid underline;
  text-underline-offset: 3px;
}

/* _____회원가입Join_____ */
#nn {
  display: flex;
}
#nn .id_btn {
  width: 79%;
  margin-right: 1%;
}
#nn .id_check {
  width: 20%;
  height: 36px;
  border: none;
  font-family: "Pretendard_Medium";
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #A7AA66;
}
#nn .id_check:hover {
  font-size: 16px;
}

#join {
  width: 90%;
  height: 800px;
  position: relative;
  top: 100px;
  left: 5%;
}
#join #join-header {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}
#join #join-header h2 {
  font-size: 20px;
  display: inline-block;
}
#join form {
  width: 95%;
  margin: 0 auto;
}
#join #join-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 14px;
}
#join #join-form p {
  font-size: 12px;
  color: #868686;
  padding-top: 5px;
}
#join #join-form div {
  padding: 8px 0;
}
#join #join-form .j_item {
  margin-top: 5px;
}
#join #join-form .j_item:first-child {
  margin-bottom: -9px;
}
#join #join-form .j_item label {
  padding-left: 2px;
}
#join #join-form .j_item span {
  margin-left: -3px;
  color: tomato;
  font-size: 0.9rem;
}

.main_back {
  cursor: pointer;
  border: 1px solid rgba(17, 17, 17, 0.5);
  text-align: center;
  font-family: "Pretendard_Medium";
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 25px;
  padding: 10px 0;
  margin-top: 5px;
  background-color: transparent;
}

.main_back:hover {
  color: #A7AA66;
  border-color: #A7AA66;
}

/* _____아이디,비밀번호찾기Find______ */
#find {
  width: 90%;
  height: 500px;
  position: relative;
  top: 70px;
  left: 5%;
}
#find #find-header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
#find #find-header .arrow_left {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 15px;
}
#find #find-header .arrow_left a::before {
  font-family: "xeicon";
  content: "\e906";
  font-size: 20px;
}
#find #find-header .h2_click {
  font-size: 16px;
  font-weight: bold;
}
#find #find-header h2 {
  font-size: 14px;
  display: inline-block;
}
#find form {
  width: 95%;
  margin: 0 auto;
}
#find #find-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 14px;
}
#find #find-form .j_item {
  margin: 10px 0;
}
#find #find-form .j_item label {
  padding-left: 2px;
}/*# sourceMappingURL=orosy_form.css.map */