$point-color: #A7AA66;

@media screen and (min-width: 700px) {
  #login, #join, #find{
    width: 500px!important;
    position: relative!important;
    top: 70px;
    left: 0!important;
    margin: 0 auto;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

// 공통 css
input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba($color: #444, $alpha: 0.5);
  // &::placeholder {
  //   text-indent: 3px;
  // }
  &:focus {
    outline: none;
    border-color: #222;
  }
}
[type="text"], [type="password"], [type="tel"], [type="email"] {
  font-size: 12px;
  padding: 10px;
  &:hover {border: 1px solid #222;}
}
[type="submit"] {
  cursor: pointer;
  border: none;

  font-family: "Pretendard_Medium";
  font-size: 14px;

  width: 100%;
  height: 40px;
  margin-top: 15px;

  background-color: $point-color;
  color: #fff;

  &:hover {
    font-size: 16px;
  }
}
.line {
  border: 1px solid #111;
  margin-top: 10px;
}


/* _____로그인Login_____ */
#login-wrap {
  width: 100%;
}
#login {
  width: 90%;
  height: 500px;

  position: relative;
  top: 70px;
  left: 5%;

  #login-header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    
    h2 {
      font-size: 20px;
      display: inline-block;
    }
  }
  form {
    width: 95%;
    margin: 0 auto;
  }
  #login-form {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    padding: 15px 0;
    font-size: 14px;
    
    .j_item {
      margin: 10px 0;
      label {
        padding-left: 2px;
      }
    }
  }

  
  /* 아이디찾기 & 비밀번호찾기 */
  #find-go {
    width: 98%;
    margin: 0 auto;
    padding: 10px 0;
    // border: 1px solid red;

    .find_login {
      float: left;
      font-size: 14px;
      span {
        padding: 0 5px;
      }
    }
    /* 회원가입 */
    .go_join {
      float: right;
      font-size: 14px;
    }
    a {
      &:hover {
        text-decoration: 1px solid underline;
        text-underline-offset: 3px;
      }
    }
  }
}

/* _____회원가입Join_____ */
// id 버튼 & 중복확인 버튼
#nn {
  display: flex;

  .id_btn {
    width: 79%;
    margin-right: 1%;
  }
  .id_check {
    width: 20%;
    height: 36px;
  
    border: none;
    font-family: "Pretendard_Medium";
    font-size: 14px;
  
    cursor: pointer;
    color: #fff;
    background-color: $point-color;
  }
  .id_check:hover {
    font-size: 16px;
  }
}

#join {
  width: 90%;
  height: 800px;
  position: relative;
  top: 100px;
  left: 5%;

  #join-header {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;

    h2 {
      font-size: 20px;
      display: inline-block;
    }
  }
  form {
    width: 95%;
    margin: 0 auto;
  }
  #join-form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 14px;

    p {
      font-size: 12px;
      color: #868686;

      padding-top: 5px;
    }
    div {
      padding: 8px 0;
    }
    .j_item {
      margin-top: 5px;
      &:first-child {
        margin-bottom: -9px;
      }
      label {
        padding-left: 2px;
      }
      span {
        margin-left: -3px;
        color: tomato;
        font-size: 0.9rem;
      }
    }
  }
}
.main_back {
  cursor: pointer;
  border: 1px solid rgba($color: #111, $alpha: 0.5);
  text-align: center;

  font-family: "Pretendard_Medium";
  font-size: 14px;

  width: 100%;
  height: 40px;
  line-height: 25px;
  padding: 10px 0;
  margin-top: 5px;

  background-color: transparent;
}
.main_back:hover {
  color: $point-color;
  border-color: $point-color;
}


/* _____아이디,비밀번호찾기Find______ */
#find {
  width: 90%;
  height: 500px;

  position: relative;
  top: 70px;
  left: 5%;

  #find-header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    
    .arrow_left {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 15px;
      a {
        &::before {
          font-family: "xeicon";
          content: '\e906';
          font-size: 20px;
        }
      }
    }
    .h2_click {
      font-size: 16px;
      font-weight: bold;
    }
    h2{
      font-size: 14px;
      display: inline-block;
    }
  }
  form {
    width: 95%;
    margin: 0 auto;
  }
  #find-form {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    padding: 15px 0;
    font-size: 14px;
    
    .j_item {
      margin: 10px 0;
      label {
        padding-left: 2px;
      }
    }
  }
}