@charset "UTF-8";
html, body, #wrap {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  font-family: "Pretendard_Regular";
}

.text_m {
  font-family: "Pretendard_Medium";
  font-size: 16px;
}

/* _____퀵메뉴QuickMenu_____ */
#quick-menu {
  position: absolute;
  top: 530px;
  right: 20px;
  text-align: center;
  width: 42px;
  z-index: 999999;
}
#quick-menu .q_menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a7aa66;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding-top: 10px;
  margin-top: 15px;
}
#quick-menu .top::after {
  content: "\e944";
  font-family: "xeicon";
  font-size: 16px;
}

/* _____container_____ */
#container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#container #mob-banner .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 49%;
  transform: translateX(-50%);
  text-align: center;
}
#container #mob-banner .slick-dots > li > button {
  font-size: 0;
  width: 30px;
  height: 5px;
  border: none;
  background-color: #a7aa66;
  cursor: pointer;
  border-radius: 5px;
}
#container #mob-banner .slick-dots > li.slick-active button {
  background-color: #fff;
  z-index: 1;
  border: 1px solid #888;
}
#container #mob-banner .slick-dots li {
  width: 20px;
  height: 10px;
  display: inline-block;
  margin-right: 3px;
}
#container #mob-banner button {
  font-size: 0;
  border: none;
  outline: none;
  position: absolute;
}
#container #mob-banner li img {
  width: 100%;
}
#container #mob-banner li div {
  position: absolute;
  bottom: 110px;
  left: 40px;
}
#container #mob-banner li div .ban_p {
  font-size: 14px;
}
#container #mob-banner li div .ban_title {
  font-size: 20px;
  font-family: "Pretendard_Medium";
  padding: 10px 0;
}
#container #mob-banner li div .ban_text {
  padding: 10px 0;
}
#container #mob-banner li .ban_div {
  position: absolute;
  top: 85px;
  left: 40px;
}
#container #mob-banner li .ban_btn {
  position: absolute;
  bottom: 75px;
  left: 40px;
  border-bottom: 1px solid #111;
  width: 65px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
#container #mob-banner li .ban_btn:hover {
  border-bottom: 2px solid #111;
  font-weight: bold;
}
#container #mob-banner li .ban_btn2 {
  position: absolute;
  top: 215px;
  left: 40px;
}
#container #tab-banner .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#container #tab-banner .slick-dots > li > button {
  font-size: 0;
  width: 50px;
  height: 7px;
  border: none;
  background-color: #a7aa66;
  cursor: pointer;
  border-radius: 5px;
}
#container #tab-banner .slick-dots > li.slick-active button {
  background-color: #fff;
  z-index: 1;
  border: 1px solid #888;
}
#container #tab-banner .slick-dots li {
  width: 35px;
  height: 10px;
  display: inline-block;
}
#container #tab-banner button {
  font-size: 0;
  border: none;
  outline: none;
  position: absolute;
}
#container #tab-banner li img {
  width: 100%;
}
#container #tab-banner li div {
  position: absolute;
  bottom: 130px;
  left: 60px;
}
#container #tab-banner li div .ban_p_t {
  font-size: 14px;
}
#container #tab-banner li div .ban_title_t {
  font-size: 20px;
  font-family: "Pretendard_Medium";
  padding: 10px 0;
}
#container #tab-banner li div .ban_text_t {
  padding: 12px 0;
}
#container #tab-banner li .ban_div_t {
  position: absolute;
  top: 43%;
  left: 60px;
}
#container #tab-banner li .ban_btn_t {
  position: relative;
  bottom: -12px;
  left: 0;
  border-bottom: 1px solid #111;
  width: 65px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
#container #tab-banner li .ban_btn_t:hover {
  border-bottom: 2px solid #111;
  font-weight: bold;
}
#container #pc-banner .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 49%;
  transform: translateX(-50%);
  text-align: center;
}
#container #pc-banner .slick-dots > li > button {
  font-size: 0;
  width: 52px;
  height: 10px;
  border: none;
  background-color: #a7aa66;
  cursor: pointer;
  border-radius: 5px;
}
#container #pc-banner .slick-dots > li.slick-active button {
  background-color: #fff;
  z-index: 1;
  border: 1px solid #888;
}
#container #pc-banner .slick-dots li {
  width: 45px;
  height: 10px;
  display: inline-block;
}
#container #pc-banner button {
  font-size: 0;
  border: none;
  outline: none;
  position: absolute;
}
#container #pc-banner li img {
  width: 100%;
}
#container #pc-banner li div {
  position: absolute;
  bottom: 20%;
  left: 130px;
}
#container #pc-banner li div p {
  font-size: 18px;
}
#container #pc-banner li div .ban_p_p {
  font-size: 16px;
}
#container #pc-banner li div .ban_title_p {
  font-size: 24px;
  font-family: "Pretendard_Medium";
  padding: 10px 0;
}
#container #pc-banner li div .ban_text_p {
  padding: 10px 0;
}
#container #pc-banner li .ban_div_p {
  position: absolute;
  top: 50%;
  left: 130px;
}
#container #pc-banner li .ban_btn_p {
  position: relative;
  bottom: -20px;
  left: 0;
  border-bottom: 1px solid #111;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
#container #pc-banner li .ban_btn_p:hover {
  border-bottom: 2px solid #111;
  font-weight: bold;
}
#container #intro {
  width: 100%;
  padding: 40px;
}
#container #intro .intro .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 49%;
  transform: translateX(-50%);
  text-align: center;
}
#container #intro .intro .slick-dots > li > button {
  font-size: 0;
  width: 100px;
  height: 5px;
  border: none;
  background-color: #a7aa66;
  cursor: pointer;
}
#container #intro .intro .slick-dots > li.slick-active button {
  background-color: #111;
  z-index: 1;
}
#container #intro .intro button {
  font-size: 0;
  border: none;
  outline: none;
  position: absolute;
}
#container #intro .intro li {
  width: 45%;
}
#container #intro .intro li img {
  width: 90%;
}
#container #product {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  padding-bottom: 80px;
  margin: 0 auto;
}
#container #product h2 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
#container #product .p_box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
#container #product .p_box ul {
  width: 50%;
  padding: 0 5px;
}
#container #product .p_box li {
  margin-bottom: 20px;
}
#container #product .p_box li img {
  width: 100%;
  background-color: rgba(217, 217, 217, 0.1);
  /* transition: all 0.2s linear;

  &:hover {
    transform: scale(1.1);
  } */
}
#container #product .p_box li span {
  font-size: 14px;
  display: block;
  margin: 10px 0;
  padding-left: 5px;
}
#container #product .p_box li span [type=image] {
  position: relative;
  top: 2px;
  left: 2px;
}
#container #story {
  background: url("../img/orosy_main_banner_01.png") no-repeat center center;
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  padding: 70px 0;
  color: #fff;
  margin-bottom: 40px;
}
#container #story h3 {
  font-size: 20px;
}
#container #story p {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  width: 80%;
  margin: 20px auto;
}
#container #story .story_btn {
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: none;
  background-color: #a7aa66;
  color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
#container #story .story_btn:hover {
  font-size: 14px;
}/*# sourceMappingURL=orosy.css.map */